* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

.card {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}

body{
    margin: 0;
    padding: 0;
}

aside {
    float: right;
    width: 25%;
    text-align: center;
}

main {
    overflow: auto;
    padding: 20px;
}

#content {
    width: 75%;
    float: left;
}

table{
    margin: 0 auto;
}

.profil {
    width: 200px;
}

footer{
    width:100%
}